.cardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
    padding: 0 180px;
}

.cardItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardImg{
    width: 300px;
    height: 370px;
    display: flex;
    justify-content: center;
}
.addBasket{
    width: 100% !important;
}
.editProduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.editProduct > button{
    width: calc(50% + 5px);
    height: 40px;
    font-size: 16px;
    padding: 0;
}


.cardDescription{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.cardDescription h4{
    font-size: 22px;
    font-weight: 500;
    color: #141718;
}
.cardDescription p{
    font-size: 18px;
    font-weight: 500;
    color: #141718;
}

@media(max-width:1650px){
    .cardContainer{
        padding: 0 150px;
    }
}
@media(max-width:1300px){
    .cardContainer{
        padding: 0;;
    }
}