footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
    background-color: #141718;
}
footer h4{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    border-right: 1px solid #6C7275;
    padding-right: 30px;
}
footer p{
    color: #fff;
    padding-left: 30px;
}

.leftSection{
    display: flex;
    align-items: center;
}
.contactLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


@media(max-width:1200px){
    footer{
        padding: 20px;
    }
}

@media(max-width:560px){
    footer h4{
        display: none;
    }
    footer p{
        font-size: 18px;
        padding-left:none;
    }
}

@media(max-width:500px){
    footer{
        padding: 20px 10px;
    }
    .contactLink{
        gap: 30px;
    }
}